<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.whitespace.my_daily_vu">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.whitespace.my_daily_vu.Add_Class.AddClassSunday"
            android:parentActivityName="com.whitespace.my_daily_vu.Activity.RoutineActivity"></activity>
        <activity
            android:name="com.whitespace.my_daily_vu.Activity.OnboardingActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.whitespace.my_daily_vu.Activity.TestActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.whitespace.my_daily_vu.Authentication.PasswordRecoveryActivity"
            android:parentActivityName="com.whitespace.my_daily_vu.Authentication.LoginActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.whitespace.my_daily_vu.Activity.SplashScreenActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.whitespace.my_daily_vu.Activity.FeedbackActivity"
            android:parentActivityName="com.whitespace.my_daily_vu.Activity.RoutineActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.whitespace.my_daily_vu.Activity.AboutActivity"
            android:parentActivityName="com.whitespace.my_daily_vu.Activity.RoutineActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.whitespace.my_daily_vu.Activity.NotificationActivity"
            android:parentActivityName="com.whitespace.my_daily_vu.Activity.RoutineActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.whitespace.my_daily_vu.Authentication.ConfirmActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.whitespace.my_daily_vu.Authentication.SignupActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.whitespace.my_daily_vu.Authentication.LoginActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.whitespace.my_daily_vu.Activity.RoutineActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.whitespace.my_daily_vu.Routine_Settings.RoutineSettingsActivity"
            android:parentActivityName="com.whitespace.my_daily_vu.Activity.RoutineActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>